.advantages{
  padding: 15px 0;
  background-color: $white;
  border: 1px solid $brd-c;
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item{
    margin-right: 10px;
    line-height: 1.5;
  }
  &__item-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-img{
    display: inline-block;
  }
  &__item-info{
    padding-left: 10px;
  }
  &__item-title{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
  }
  &__item-description{
    font-size: 1.2rem;
  }
}


@media only screen and (min-width: 767px){
  .advantages{
    &__item{
      margin: 0 10px;
    }
    &__item-title{
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 1.2;
    }
    &__item-description{
      font-size: 1.5rem;
    }
  }
}