body{
  margin: 0;
  line-height: 1;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: $content-ff;
  color: #222;
  background-color: #fff;
  //overflow-x: hidden;
}

ul{
  padding: 0;
}
.wrap{
  display: flex;
}

@include respond-to(tabletAndWider){}
