.categories{
  margin-top: 50px;
  overflow: hidden;
  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 30px;
    border: 1px solid $brd-c;
    border-radius: 5px;
    width: 85%;
    margin-bottom: 4%;
    overflow: hidden;
    //box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  }
  &__item-media{
    overflow: hidden;
    //height: calc(100% - 87px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-img-wrap{
    transition: transform 0.4s ease-in-out;
  }
  &__item img{
    display: block;
    margin: 0 auto;
  }
  &__item-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    box-sizing: border-box;
    padding: 5px 6px;
    min-height: 36px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    color: #222;
  }
}
.categories__item:hover .categories__item-img-wrap{
  transform: scale(1.05);
}
@media only screen and (min-width: 575px){
  .categories{
    &__item{
      width: 48%;
    }
    &__item-media{
      //height: calc(100% - 45px);
    }
    &__item-title{
      padding: 5px 6px;
      font-size: 1.5rem;
    }
  }
}
@media only screen and (min-width: 767px){
  .categories{
    &__list{
      justify-content: space-around;
    }
    &__item{
      width: 18%;
    }
    &__item-media{
      height: calc(100% - 55px);
    }
    &__item-img-wrap{
      max-height: 100px;
    }
    &__item-title{
      padding: 5px 10px 15px;
      min-height: 32px;
      font-size: 1.4rem;
    }
  }
}
@media only screen and (min-width: 991px){
  .categories{
    &__item{
      width: 18%;
    }
    &__item-media{
      //height: calc(100% - 90px);
    }
    &__item-img-wrap{
      max-height: none;
    }
    &__item-title{
      padding: 5px 10px 15px;
      font-size: 1.6rem;
    }
  }
}