.container{
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1430px;
}
.container--header-top{
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (min-width: 575px){
  .container{
    //max-width: 1430px;
  }
}
@media only screen and (min-width: 767px){
  div.container{
    max-width: 1430px;
  }
}
@media only screen and (min-width: 991px){
  .container{
    max-width: 1430px;
  }
}
@media only screen and (min-width: 1199px){
  .container{
    max-width: 1430px;
  }
}
