.container{
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}
.container--header-top{
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (min-width: $dw-sm){
  .container{
    //max-width: 1430px;
  }
}
@media only screen and (min-width: $dw-md){
  div.container{
  }
}
@media only screen and (min-width: $dw-lg){
  .container{
  }
}
@media only screen and (min-width: $dw-xl){
  .container{
    
  }
}
