.discounts{
  background-color: $section-bg;
  & .main-slider__slick-dots{
    bottom: 25px;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__slider-wrap{
    padding-bottom: 60px;
  }
  &__slider{
    padding-bottom: 10px;
  }
}
.discount-prev,
.discount-next{
  display: none;
}
.discounts__slider{
  position: relative;
  & .slick-slide {
    margin-left:27px;
  }
  & .slick-list {
    margin-left:-27px;
  }
  //выровнять слайды по высоте
  // & .slick-track {
  //   display: flex;
  //   align-items: flex-end;
  // }
}
@media only screen and (min-width: $dw-md){
  .discount-prev,
  .discount-next{
    display: none;
  }
}
@media only screen and (min-width: $dw-lg){
  .discounts{
    &__slider-wrap{
      width: 48%;
      flex-grow: 2;
      margin-left: 27px;
      padding-bottom: 0;
    }
    &__content{
      flex-direction: row;
    }
  }
  .discount-prev,
  .discount-next{
    position: absolute;
    top: -64px;
    width: fit-content;
    font-size: 1.7rem;
    color: $content-color;
  }
  .discount-prev{
    right: 20px;
  }
  .discount-next{
    right: 0px;
  }
}