.discounts{
  background-color: $section-bg;
  & .main-slider__slick-dots{
    bottom: -15px;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__slider-wrap{
    padding-bottom: 60px;
  }
  &__slider{
    &-slick-dots{
      position: absolute;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 0;
      transform: translate(-50%,0);
      left: 50%;
      margin-right: -50%;
      bottom: 0px;
      & button{
        display: block;
        margin: 0 6px;
        font-size: 0;
        min-width: none;
        width: 11px;
        height: 11px;
        background-color: #fff;
        border: 1px solid lightgrey;
        border-radius: 50%;
        transition: background-color .2s ease-in-out;
        &:hover{
          background-color: grey;
        }
      }
      & .slick-active button {
        background-color: $yellow;
        width: 30px;
        border-color: $white;
        border-radius: 5px;
      }
    }
  }
}
.discount-prev,
.discount-next{
  display: none;
}
.discounts__slider{
  position: relative;
  & .slick-slide {
    margin-left:27px;
  }
  & .slick-list {
    margin-left:-27px;
  }
  //выровнять слайды по высоте
  // & .slick-track {
  //   display: flex;
  //   align-items: flex-end;
  // }
}
@media only screen and (min-width: 767px){
  .discount-prev,
  .discount-next{
    display: none;
  }
}
@media only screen and (min-width: 991px){
  .discounts{
    padding-bottom: 50px;
    &__slider-wrap{
      width: 48%;
      flex-grow: 2;
      margin-left: 27px;
      padding-bottom: 0;
    }
    &__content{
      flex-direction: row;
    }
  }
  .discount-prev,
  .discount-next{
    position: absolute;
    top: -64px;
    font-size: 1.7rem;
    color: #222;
  }
  .discount-prev{
    right: 20px;
  }
  .discount-next{
    right: 0px;
  }
}