.header{
	background-color: $header-top-bg;
	&__search-container{
		display: none;
	}
	&__top{
		background-color: $header-top-bg;
	}
	&__bottom{
		display: none;
	}
	&__cart-area{
		padding-left: 20px;
	}
	&__menu-open-btn{
		display: inline-block;
		width: fit-content;
		margin-left: auto;
		padding: 4px 8px;
		border-radius: 4px;
		border: 1px solid $white;
		color: $white;
		font-size: 1.7rem;
		text-align: center;
		cursor: pointer;
		transition: all .3s ease;
		&:hover{
			color: $red;
			border: 1px solid $red;
		}
	}
}

@media only screen and (min-width: 991px){
	.header{
		&__menu-open-btn{
			display: none;
		}
		&__middle{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&__search-container{
			display: block;
			background-color: $white;
			border-radius: 5px;
		}
		&__search-box{
			display: flex;
		}
		&__search-submit-btn{
			display: inline-block;
			background: $yellow;
			padding: 10px 15px;
			border-radius: 0 5px 5px 0;
		}
		&__select-block{
			position: relative;
			padding-right: 15px;
			&::before{
				content: "";
				width: 1px;
				height: 16px;
				background: #a1a1a1;
				position: absolute;
				top: 50%;
				margin-top: -8px;
				right: 0;
			}
		}
		&__search-field{
			display: inline-block;
			border: 0;
			background: inherit;
			height: 50px;
			color: #222222;
			font-size: 1.4rem;
			font-weight: 400;
			padding: 0 105px 0 20px;
		}
		&__form{
			display: flex;
		}
		&__bottom{
			display: block;
			background-color: $dark-blue;
			z-index: 12;
		}
	}
}
.header__bottom.sticky-header{
	position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}