.main-slider__outer{
  padding-top: 30px;
  background-color: $section-bg;
}
.main-slider{
  &__item{
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 50vw 50vh 50vw 50vh rgba(0, 0, 0, 0.25);
  }
  &__item-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__item-content{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    color: $white;
  }
  &__item-title{
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  &__item-subtitle{
    margin-bottom: 15px;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  &__item-description{
    margin-bottom: 20px;
    font-size: 1.7rem;
    line-height: 1.3 ;
  }
  &__action-link{
    display: inline-block;
    width: fit-content;
    padding: 15px 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $white;
    background-color: $primary-color;
    transition: all .3s ease;
    & span{
      display: inline-block;
      padding: 0 10px;
      line-height: 24px;
    }
    &:hover{
      background-color: $content-color;
      color: $white;
    }
  }
  &__slick-dots{
    position: absolute;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 0;
    transform: translate(-50%,0);
    left: 50%;
    margin-right: -50%;
    bottom: 15px;
    z-index: 10;
    & button{
      display: block;
      margin: 0 6px;
      font-size: 0;
      min-width: none;
      width: 11px;
      height: 11px;
      background-color: #fff;
      border: 1px solid lightgrey;
      border-radius: 50%;
      transition: background-color .2s ease-in-out;
      z-index: 10;
      &:hover{
        background-color: grey;
      }
    }
    & .slick-active button {
      background-color: $primary-color;
      width: 30px;
      border-color: $white;
      border-radius: 5px;
    }
  }
}


@media only screen and (min-width: $dw-sm){
  .main-slider{
    &__item{
      
    }
    &__item--inner{
      
    }
    &__item-content{
      width: 350px;
      padding-right: 70px; 
    }
  }
}
@media only screen and (min-width: $dw-md){
  .main-slider{
    &__item{
      height: 300px;
    }
    &__item-content{
      width: 450px;
    }
    &__item-title{
      margin-bottom: 5px;
      font-size: 2.8rem;
    }
    &__item-subtitle{
      margin-bottom: 20px;
      font-size: 2.8rem;
      text-transform: uppercase;
    }
    &__item-description{
      margin-bottom: 20px;
      font-size: 1.6rem;
    }
    &__action-link{
      font-size: 1.5rem;
    }
  }
}
@media only screen and (min-width: $dw-lg){
  .main-slider{
    &__item{
      height: 300px;
    }
    &__item-content{
      width: 650px;
    }
    &__item-subtitle{
      font-size: 33px;
    }
    &__item-title{
      font-size: 33px;
    }
  }
}
@media only screen and (min-width: $dw-xl){
  .main-slider{
    &__item{
      height: 350px;
    }
  }
}
@media only screen and (min-width: 1399px){
  .main-slider{
    &__item{
      height: 350px;
    }
  }
}