
.mini-cart{
  &__header{
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: $content-color;
    background: $yellow;
    padding: 15px 16px;
    transition: all .3s ease-in;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background: $dark-blue;
      color: $white;
    }
  }
  &__header-basket-icon{
    font-size: 2rem;
    vertical-align: middle;
  }
  &__header-price{
    display: none;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    & i{
      display: inline-block;
      margin-left: 4px;
    }
  }
  &__count{
    position: absolute;
    left: -9px;
    top: -8px;
    display: inline-block;
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: $content-color;
    background-color: $white;
  }
  &__content{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100%;
    visibility: hidden;
  }
  &__icon-close-wrap{
    cursor: pointer;
    z-index: 1000;
  }
  &__inner{
    height: 100vh;
    width: 280px;
    padding: 20px 20px 0 20px;
    margin-left: auto;
    background-color: $white;
    transform: translateX(100%);
    transition: transform .5s ease;
  }
  &__content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $brd-c;
  }
  &__content-header-text{
    font-size: 18px;
    font-weight: 400;
  }
  &__item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $brd-c;
  }
  &__item-info{
    padding: 20px;
    & p{
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
  }
  &__item-name{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.3rem;
    transition: color .3s ease-in;
    &:hover{
      color: $yellow;
    }
  }
  &__item-price{
    font-weight: 500;
    font-size: 1.6rem;
    color: $yellow;
  }
  &__item-remove-btn{
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-block;
    font-size: 1.9rem;
    cursor: pointer;
    & i{
      display: inline-block;
      border-radius: 50%;
      transition: all .3s ease-in;
    }
    &:hover i{
      background-color: $yellow;
      color: $white;
    }
  }
  &__summary{
    padding: 20px 0;
  }
  &__total{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  &__total-price{
    font-weight: 700;
  }
  &__submit-link{
    display: block;
    padding: 13px 0px 11px;
    font-size: 1.6rem;
    text-align: center;
    color: $white;
    background-color: $red;
    transition: all .3s ease;
    border-radius: 3px;
    &:hover{
      background-color: $yellow;
    }
  }
}
@media only screen and (min-width: 576px){
  .mini-cart{
    &__header-price{
      display: inline-block;
    }
  }
}

._lock-cart{
  overflow: hidden;
}
// ._lock-cart .wrapper{
//   margin-left: 290px;
//   margin-right: -290px;
// }

._lock-cart .mini-cart__content{
  visibility: visible;
}
._lock-cart .mini-cart__inner{
  transform: translateX(0);
}