.nav{
	position: absolute;
  display: flex;
	flex-direction: column;
	top: 120px;
	opacity: 0;
	visibility: hidden;
	margin-right: 2px;
	font-size: 1.5rem;
}
.main-nav-wrap{
	display: none;
}
@media (min-width: $dw-lg){
	.main-nav-wrap{
		display: flex;
		align-items: center;
	}
}
.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: $dw-lg) {
	
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}

.navbar-nav{
	background-color: rgb(68, 68, 68);
}
.navbar-nav .nav-item{
	
}


.navbar-nav .nav-item.active .nav-link{
	background: #eee;
  color: $primary-color;
}

.dropdown-menu .dropdown-item{
	padding-left: 20px;
	padding-right: 20px;
}
.col-megamenu li a:hover{
	color: $primary-color;
	//background-color: rgba(0,0,0,0.15);

}
@media only screen and (min-width: $dw-lg){
	.navbar-nav{
		background-color: inherit;
	}
	.nav-item.dropdown .dropdown-menu{
		padding: 10px;
		width: 100%;
		& .dropdown-item{
			background: inherit;
			transition: all .3s ease-in;
			&:hover{
				color: $primary-color;
			}
		}
	}
	.navbar-nav .nav-item{
		padding: 0 15px;
	}
	.navbar-nav .nav-item.active{
		color: $primary-color;
		
	}
	.navbar-nav .nav-item .nav-link{
		position: relative;
		font-size: 15px;
		color: $white;
		text-transform: uppercase;
		font-weight: 500;
		&:hover{
			color: $white;
		}
		&::before{
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0; 
      width: 0;
      height: 2px; 
      background-color: $white; 
      content: "";
      transition: width 0.4s ease-out;
      @include absoluteXCenter;
    }
	}
	.navbar-nav .nav-item .nav-link:hover::before{
		width: 100%;
	}
	
	.navbar-nav .nav-item .nav-link{
		border-bottom: 0;
		box-shadow: none;
		border-radius: 10px;
	}
	.col-megamenu li a{
		font-size: 14px;
	}
	.dropdown-menu.megamenu{
		background-color: #fff;
	}
	.dropdown-menu.megamenu .title{
		font-size: 15px;
		font-weight: 500;
		padding: 5px 0;
		display: block;
		color: #333;
		text-transform: uppercase;
	}
	.dropdown-menu.megamenu .col-megamenu{
		padding-left: 15px;
	}
	.dropdown-menu.megamenu li a,
	.dropdown-menu .dropdown-item{
		display: block;
		font-size: 13px;
		padding: 10px 0;
		text-transform: capitalize;
		color: $content-color;
		font-weight: 400;
		transition: all .3s ease-in;
	}

}