.nav{
	position: absolute;
  display: flex;
	flex-direction: column;
	top: 120px;
	opacity: 0;
	visibility: hidden;
	margin-right: 2px;
	font-size: 1.5rem;
}
@media only screen and (min-width: $dw-lg){
  .nav{
		position: static;
    display: flex;
		justify-content: space-between;
		width: 100%;
		margin-right: 20px;
		opacity: 1;
		visibility: visible;
    &__list{
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		&__item{
			position: relative;
			padding: 25px 15px;
			&:nth-of-type(1){
				padding-left: 0;
			}
		}
		&__link{
			position: relative;
			display: block;
			font-size: 1.3rem;
			color: #fff;
			font-weight: 500;
			transition: all .3s ease-in-out;
			text-transform: uppercase;
			&::after{
				position: absolute;
				display: block;
				content: '';
				bottom: -5px;
				width: 100%;
				height: 2px;
				background-color: transparent;
				transition: all .3s ease-in;
			}
			&:hover::before{
				background-color: $white;
			}
			&--subtitle{
				position: relative;
				padding-right: 12px;
				&::after{
					position: absolute;
					display: block;
					content: '';
					top: 50%;
					right: 4px;
					width: 5px;
					height: 1px;
					transform: rotate(45deg);
					background-color: $white;
				}
				&::before{
					position: absolute;
					display: block;
					content: '';
					top: 50%;
					right: 1px;
					width: 5px;
					height: 1px;
					transform: rotate(-45deg);
					background-color: $white;
				}
			}
			&--sub-nav{
				display: block;
				font-weight: 400;
				padding: 6px 0;
				font-size: 1.4rem;
				transition: all .3s ease-in-out;
				color: $content-color;
			}
		}
		&__sub1-list{
			position: absolute;
			top: 40px;
			opacity: 0;
			visibility: hidden;
			background-color: #fff;
			pointer-events: none;
			width: max-content;
			padding: 15px 20px;
			box-shadow:0 2px 35px rgba(0,0,0,0.1);
			z-index: 13;
			& a{
				color: $content-color;
			}
		}
  }
  
  .nav__item:hover .nav__sub1-list {
    border-top: 35px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
	.nav__item:hover{
		& a.nav__link{
			color: $white;
			&::before, &::after{
				background-color: $white;
			}
		}
		& .nav__sub1-list{
			color: $content-color;
		}
	}
	a.nav__link--sub-nav{
		color: $content-color;
	}
	.nav__sub1-item:hover a{
		color: $primary-color;
	}
	.nav__list .nav__item:first-of-type .nav__link{
		padding-left: 0;
	}
}