.page-title{
  text-align: center;
  &__text{
    font-size: 3.5rem;
    line-height: 1.125;
    text-transform: uppercase;
  }
  &--policy{
    padding-top: 40px;
  }
  &--catalog{
    margin-bottom: 10px;
    color: #fff;
  }
  &--contact-us{
    margin-bottom: 10px;
    color: #222;
  }
}
