.products-overview{
  background-color: $section-bg;
  padding-bottom: 10px;
}
.products-list{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
//стили для поведения NavTab в описании продукта
.products-list{
  &__parts-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__part-nav-item{
    width: fit-content;
  }
  &__part-nav-link{
    display: inline-block;
    margin: 0 10px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #222;
    text-transform: uppercase;
    &--active{
      color: $red;
      text-decoration: underline;
    }
  }
}
.products-list__part-item{
  display: none;
}
.products-list__part-item--active{
  display: block;
}