.products-list--catalog-grid .product-card{
  
}
.discounts__slider .product-card{
  width: 100%;
}
.product-card{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 15px 10px 15px;
  margin-bottom: 33px;
  background-color: $white;
  border-radius: 5px;
  &--big{
    width: 100%;
    & .product-card__popup{
      position: static;
      padding: 30px 0 10px 0;
      visibility: visible;
      opacity: 1;
    }
    & .product-card__img-wrap{
      min-height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__img-wrap{
    position: relative;
    min-height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__img{
    display: block;
    margin: 0 auto;
  }
  &__link{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    &:focus{
      outline: none;
    }
  }
  &__marks{
    position: absolute;
    top: -38px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    z-index: 3;
  }
  &__marks-group{
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  &__new-mark, &__sale-mark{
    position: relative;
    display: none;
    margin-bottom: 10px;
    padding: 0 4px;
    width: fit-content;
    left: 15px;
    top: 15px;
    color: #fff;
    text-transform: uppercase;
    line-height: 2.4;
    font-size: 0;
    &::before{
      position: absolute;
      display: block;
      content: '';
      left: -11px;
      top: 0px;
      width: 11px;
      height: 21px;
      background-repeat: no-repeat;
    }
    &::after{
      position: absolute;
      display: block;
      content: '';
      right: -3px;
      top: 0px;
      width: 3px;
      height: 21px;
      background-repeat: no-repeat;
    }
  }
  &__new-mark{
    background-color: $dark-blue;
    &::before{
      background-image: url(../img/decor/icons/icon-new.png);
    }
    &::after{
      background-image: url(../img/decor/icons/icon1-new.png);
    }
  }
  &__sale-mark{
    background-color: $red;
    margin-left: 20px;
    &::before{
      background-image: url(../img/decor/icons/icon-sale.png);
    }
    &::after{
      background-image: url(../img/decor/icons/icon1-sale.png);
    }
  }
  
  &__quick-view{
    position: absolute;
    display: block;
    width: fit-content;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: $red;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    &:hover{
      background: #999;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    padding: 10px 2px;
  }
  &__category{
    display: block;
    font-size: 1.4rem;
    padding: 5px 0;
    transition: all .3s ease;
    color: #222;
    &:hover{
      color: $red;
    }
  }
  &__title{
    @include colorOnHover;
    height: 41px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 4px;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
    transition: all .3s ease;
    color: #222;
    &:hover{
      color: $red;
      text-decoration: underline;
    }
  }
  &__price{
    font-weight: 500;
    & span{
      display: inline-block;
    }
  }
  &__current-price{
    margin-right: 10px;
    font-size: 1.7rem;
    text-decoration: none;
    color: $red;
  }
  &__last-price{
    margin-right: 5px;
    font-size: 1.3rem;
    color: #222;
  }
  &__reviews-link{
    font-size: 1.1rem;
    color: #ccc;
  }
  &__rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  &__stars-block{
    margin-right: 9px;
  }
  &__short-descr{
    display: none;
  }
  &__action-block{
    display: none;
  }
  &__popup{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all .3s ease;
    padding: 0 10px 10px;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
  }
  &__add-to-cart{
    display: inline-block;
    width: fit-content;
    padding: 10px 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;
    z-index: 3;
    background-color: $red;
    color: $white;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
      cursor: pointer;
      background-color: #999;
    }
  }
} 

.product-card:hover .product-card__popup{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(100%);
}
.product-card.product-card--big:hover .product-card__popup{
  transform: translateY(0);
}
.product-card:hover .product-card__quick-view{
  visibility: visible;
  opacity: 0.9;
  pointer-events: all;
  z-index: 4;
  cursor: pointer;
}
.product-card.product-card--big:hover .product-card__quick-view{
  visibility: hidden;
  opacity: 0;
  z-index: -4;
}
.product-card--new .product-card__new-mark,
.product-card--sale .product-card__sale-mark{
  display: inline-block;
  font-size: .9rem;
}
// .discounts__slider .product-card__img-wrap{
//   height: calc(100% - 170px);
// }
@media only screen and (min-width: 450px){
  
  .product-card{
    width: 48%;
    &--big{
      width: 100%;
    }
    &__img-wrap{
      height: calc(100% - 106px);
    }
    
    &__rating{
      display: flex;
      align-items: center;
      padding: 0;
    }
    &__title{
      font-size: 1.4rem;
    }
    &__price{
      font-size: 1.5rem;
    }
    &__category{
      font-size: 1.4rem;
    }
  }
}
@media only screen and (min-width: 575px){
  
  //строковый вид
  div.products-list--catalog-column .product-card{
    flex-direction: row;
    &__img-wrap {
      justify-content: center;
      width: 200%;
    }
    &__content{
      justify-content: center;
      margin-left: 30px;
    }
  }
}
@media only screen and (min-width: 767px){
  .product-card.product-card--big{
    flex-direction: row;
    width: 100%;
    & .product-card__content{
      max-width: 50%;
      margin-left: 20px;
    }
    & .product-card__img-wrap{
      width: 50%;      
    }
    & .product-card__marks{
      top: -13px;
      right: 35px;
    }
  }
  .product-card{
    width: 31%;
  }
  .products-list--catalog-column .product-card{
    flex-direction: row;
    &__img-wrap {
      width: 55%;
    }
  }
}
@media only screen and (min-width: 991px){
  .product-card.product-card--big{
    margin-bottom: 0;
    max-width: 480px;
    & .product-card__img-wrap{
      min-height: 0;
      height: auto;      
    }
  }
  .product-card{
    width: 23%;
  }
}
@media only screen and (min-width: 1199px){
  .product-card{
    width: 19%;
  }
}