@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Black.woff2') format('woff2'),
  url('../fonts/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-BlackItalic.woff2') format('woff2'),
  url('../fonts/Rubik-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
  url('../fonts/Rubik-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
  url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
  url('../fonts/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
  url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
  url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Italic.woff2') format('woff2'),
  url('../fonts/Rubik-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
  url('../fonts/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Rubik;
  src: url('../fonts/Rubik-Light.woff2') format('woff2'),
  url('../fonts/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');