@mixin for-tablet-width {
  @media (min-width: $tablet-width) { @content; }
}
@mixin respond-to($media) {
  @if $media == tabletAndWider {
    @media only screen and (min-width: $tablet-width) { @content; }
  }
  @else if $media == desctop {
    @media only screen and (min-width: $desctop-width) { @content; }
  }
}
@mixin colorOnHover {
  transition: color .4s ease-in-out;
    &:hover{
      color: $red;
    }
}
@mixin absoluteYCenter {
  top: 50%;
  transform: translate(0, -50%);
}
@mixin absoluteXCenter {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}
@mixin absoluteAllCenter {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

//close button
@mixin closeBtn ($color) {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $brd-c;
  border-radius: 50%;
  transition: all .3s ease-in;
  &::after, &::before{
    display: block;
    position: absolute;
    content: '';
    top: 12.4px;
    right: 5.7px;
    width: 15px;
    height: 2px;
    background-color: $color;
    transition: all .3s ease-in;
  }
  &::after{
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }
  &:hover{
    background-color: $red;
    border-color: transparent;
    &::after, &::before{
      background-color: $white;
    }
  }
}